.vs/
APPPInCSharp_ActiveObjectPattern.Console/bin/
APPPInCSharp_ActiveObjectPattern.Console/obj/
APPPInCSharp_ActiveObjectPattern.UnitTests/bin/
APPPInCSharp_ActiveObjectPattern.UnitTests/obj/
packages/
